/Lab_01/ENGG1003_01_DigitalAgeAndIT.pptx
/Lab_06/CLMTEMP_HKS_2020.csv
/Lab_06/CLMTEMP_HKS_2020.xlsx
/Lab_02/ENGG1003_02_SpreadsheetApplication(1).pptx
/Lab_05/ENGG1003_04_InformationSecurityDataPrivacy(1).pptx
/Lab_06/ENGG1003_05_DataScience.pptx
/Lab_07/ENGG1003_06_DataModelingAndVisualization.pptx
/Lab_07/ENGG1003_07_RemotingAndCloudComputing.pptx
/Lab_08/ENGG1003_08_ComputationalThinking(1).pptx
/Lab_08/ENGG1003_08_PythonBasics.pptx
/Lab_09/ENGG1003_09_PythonCoding.pptx
/Lab_10/ENGG1003_10_PythonApplicationsOnJupiter.pptx
/Lec_11/ENGG1003_11_TextProcessing.pptx
/Lab_01/ENGG1003_Lab01_Fun_with_Python.pptx
/Lab_02/ENGG1003_Lab02_HandsOnExcel.pptx
/Lab_03/ENGG1003_Lab03_MoreExcel.pptx
/Lab_04/ENGG1003_Lab04_CitationManagement.pptx
/Lab_05/ENGG1003_Lab05_InformationSecurity.pptx
/Lab_06/ENGG1003_Lab06_DataScience.pptx
/Lab_07/ENGG1003_Lab07_DataScienceWithCloudComputing.pptx
/Lab_08/ENGG1003_Lab08_PythonBasics.pptx
/Lab_09/ENGG1003_Lab09_PythonDataProcessing.pptx
/ENGG1003_P_CourseOutline_2022-23Term1(1).pptx
/HW1/HW1.pdf
/HW1/HW1_Marked.pdf
/Lab_02/Lab02_ProfilingScoreBMI.xlsx
/Lab_03/Lab03_OfficePowerBudget.xlsx
/Lab_04/Lab04_CitationManagement.docx
/Lab_04/Siberischer_tiger_de_edit02.jpg
/UsingMicrosoftAzureLabs.pptx
